* {
  box-sizing: border-box;
  --color: #333333;
  background-color: var(--color);
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.demo {
  cursor: pointer;
  width: 285px;
  height: 150px;
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.gallery {
  display: none;
  line-height: 0;
}

.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 16px 16px;
  position: absolute;
  top: 0;
}

img {
  vertical-align: middle;
  border-collapse: collapse;
}

.gallery img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  max-height: 750px;
  object-fit: contain;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 3%;
  height: 750px;
  padding: 24px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.8s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  display: flex;
  align-items: center;

}

.prev {
  left: 0;
  justify-content: flex-start;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  justify-content: flex-end;
}

.prev:hover, .next:hover {
  background-color: var(--color);
  opacity: 0.1;
}

.gallery {
  text-align: center;
}

.gallery img {
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.caption-container {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  text-align: center;
  background-color: var(--color);
  padding: 1px 4px;
  color: white;
}


.demo {
  opacity: 0.6;
}


.active, .demo:hover {
  opacity: 1;
}